:root{
	--bg:rgb(31, 31, 31);
	--hl:rgb(187, 134, 252);
	--hl-dark:rgb(121, 0, 255);
	--text-art:rgb(236, 236, 236);
	--dark1-art:rgb(18, 18, 18);
	--dark2-art:rgb(40, 40, 40);
	--dark3-art:rgba(69, 69, 69, 0.459);
	--tittle-size:18pt;
	--subtittle-size:16pt;
	--text-size:14pt;
}

*{
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;

}

body{background-color: var(--bg);}
title{display: none;}


/*TITULO*/
.web_name{
	background: var(--dark1-art);

	text-align: center;
	border-radius:50px;
	font-size: var(--tittle-size);
	font-weight: bolder;

	padding: 10px;
	margin: 10px 20%;
}

.web_name span{
	color: var(--text-art);
}

/*NAVEGACION*/
.navegation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	border-radius: 7px;
	margin-bottom: 10px;

	list-style-type: none;
	overflow: hidden;
	background-color: var(--dark1-art);
}

.navegation a {
	color: var(--hl);
	text-decoration: none;
	font-size: var(--text-size);

	border-radius: 5px;
	padding: 10px 20px;
}

.navegation a:hover {
	background-color: rgba(214, 183, 253, 0.219);
	box-shadow: 0px 2px 5px rgba(149, 127, 176, 0.164);
}

.navegation a.menu{ display: none; }

/*Nav Responsive*/
@media screen and (max-width: 720px) {
	
	/*before drop*/
	.navegation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.navegation a {
		width: 100%;
	}

	.navegation a:not(#active){
		display: none;
	}
	
	/*hamburger - still not drop*/
	.navegation a.menu{
		display: flex;
		float: right;
		width: 25px;
	}
	.navegation a.menu img{
		filter:invert();
	}
	
	/*droped*/
	.navegation.responsive {
		display: flex;
		flex-direction: column;
		position: relative;
	}
	
	
	.navegation.responsive #active,
	.navegation.responsive a:not(#active){
		display:flex;
	}
	
	
	.navegation.responsive a:not(.menu){
		width: auto;
	}

	.navegation.responsive #active,
	.navegation.responsive #active:not(.menu){
		margin-right: 65px;
	}
	
	.navegation.responsive a.menu{
		position:absolute;
		right: -65px;
	}
}


/*INTRODUCCIÓN BASE*/
#card{
	border-radius:10px;
	width: 40vw;
	padding: 15px ;
	margin: auto;
	margin-bottom: 10px;
	
	background: var(--dark1-art);
}

#card #container{
	display: flex;
	flex-direction: column;
	gap:15px;
}

#card #container2{
	display: flex;
	flex-direction: row;
	gap:15px;

	
}

#card #item0{
	font-size: var(--tittle-size);
	font-weight: bolder;
	
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	color: var(--text-art);
	background-color: var(--hl-dark);
}


#card #item1{
	width:70%;
	
	font-size: var(--text-size);
	text-align: left;
	border-radius: 10px;
	padding: 15px;
	
	color: var(--text-art);
	background-color: rgb(40, 40, 40);
}
#card #item2{
	width: 30%;
	min-width: 200px;
	height: 100%;
	border-radius: 10px;
}

@media screen and (max-width: 980px) {
	#card{
		width: 70vw;
	}
}

@media screen and (max-width: 550px) {
	#card{
		width: 85vw;
	}
	
	#card #container2{
		flex-direction: column;
	}
	
	#card #item1{
		width: auto;
	}
	#card #item2{
		min-width: 20px;
		width: 100%;
	}
}
/*ARTICULOS DE POST*/
.articulos{
	display: flex;
	flex-direction: column;
	gap: 15px;

	width: 1000px;
	max-width: 85vw;
	margin: auto;
	padding: 15px;
	border-radius: 14px;

	background-color: var(--dark1-art);
}

.articulo{
	border-radius:10px;
	padding: 10px;
	color: var(--text-art);
	background: var(--dark2-art);
}

.articulo span{
	margin-bottom:10px;

	font-size: var(--subtittle-size);
	font-weight: bold;
	border-radius:10px;
}

.articulo p{
	font-size: var(--text-size);
	text-align: left;

	border-radius:10px;
	padding: 10px;
	margin: 5px 0 0 15px;
	
	box-shadow: inset 3px 3px 3px rgba(18, 18, 18, 0.5);;
	background:  var(--dark3-art);
}

/*Portfolio*/
.embeded{
	margin: auto;
	margin-top: 10px;
	width: 100%;

	aspect-ratio: 16/9;
	border-radius: 5px;
}

video{
	margin: auto;
	margin-top: 10px;
	border-radius: 5px;
}
