*{
	padding: 0;
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	position: relative;
	display: block;
}

body{
	background-color: rgb(31, 31, 31);
}
title{
	display: none;
}


/*TITULO*/
.web_name{
	background: rgb(18, 18, 18);

	text-align: center;
	border-radius:50px;
	font-size: 18pt;
	font-weight: bolder;

	padding: 10px;
	margin: 10px 20% 10px 20%;
}

.web_name span{
	color: rgb(255,255,255);
}

/*NAVEGACION*/
.navegation {
	border-radius: 7px;
	padding-left: 15px;
	margin: auto;
	margin-bottom: 10px;
	width: 80vw;

	list-style-type: none;
	overflow: hidden;

	background-color: rgb(18, 18, 18);
  
}

.navegation a {
	float: left;
	color: rgb(187, 134, 252);
	text-align: center;
	text-decoration: none;
	font-size: 13pt;

	display: block;
	border-radius: 5px;
	padding: 5px 16px;
	margin: 5px ;
}

.navegation a:hover {
	background-color: rgba(214, 183, 253, 0.219);
	box-shadow: 0px 2px 5px rgba(149, 127, 176, 0.164);
}

.navegation a.menu{
	display: none;
}

@media screen and (max-width: 480px) {
	.navegation a:not(#active){display: none;}
	.navegation a.menu{
		display: block;
		width: 20px;
		margin: 2px;
		padding: 8px;
		float: right;
		filter:invert();
	}
}

@media screen and (max-width: 480px) {
	.navegation.responsive {position: relative;}
	
	.navegation.responsive #active,
	.navegation.responsive a:not(#active){
		display:block;
		text-align: left;
		float: none;
	}
	
	.navegation.responsive #active:not(.menu){
		margin-right: 42px;
	}

	.navegation.responsive a.menu{
		position:absolute;
		right: 0px;
		top: 0px;
	}
	
}


/*INTRODUCCIÓN BASE*/
#card{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
	
	border-radius:10px;
	width: 50vw;
	padding: 10px ;
	margin: auto;
	
	background: rgb(18, 18, 18);
}

@media screen and (max-width: 480px) {
	
}

#card #container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap:10px;
}

#card #item0{
	grid-column: 1/4;
	
	font-size: 15pt;
	font-weight: bolder;
	
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	color: rgb(256,256,256);
	background-color: rgb(121, 0, 255);
}

#card #item1{
	grid-column: 1/3;
	
	font-size: 14pt;
	text-align: justify;
	border-radius: 10px;
	padding: 15px;

	color: rgb(256,256,256);
	background-color: rgb(40, 40, 40);
}

#card img{

	border-radius: 10px;
	object-fit: cover;
	object-position: 100% 0;
}

#card #item5{
	grid-column: 1/3;
}

#card #item6{
	grid-column: 1/3;
}

/*ARTICULOS DE POST*/
.articulos{
	width: 1000px;
	max-width: 90vw;
	margin: auto;
}

.articulo{
	
	border-radius:10px;
	padding: 15px;
	margin-top: 10px;
	color: rgb(221, 221, 221);
	background: rgb(40, 40, 40);
}

.articulo span{
	margin-bottom:15px;

	font-size: 15pt;
	font-weight: bold;
	border-radius:10px;
}

.articulo p{
	font-size: 13pt;
	text-align: left;

	border-radius:10px;
	padding: 10px;
	margin: 5px 0 0 15px;
	
	box-shadow: inset 3px 3px 3px rgba(18, 18, 18, 0.5);;
	background:  rgba(69, 69, 69, 0.459);
}

#fungus_page{
	margin: auto;
	margin-top: 10px;
	width: 100%;
	height: 75vh;
	border-radius: 5px;
}

video{
	margin-top: 10px;
	border-radius: 5px;
}
